{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Détails</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.libelle }}</td>
                <td>
                    <a href="{{ path('categorie_show', {'id': categorie.id}) }}">
                        <button type="button" class="btn btn-secondary">Détails</button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">
                        <button type="button" class="btn btn-secondary">Modifier</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_new') }}"><button type="button" class="btn btn-primary">Nouvelle catégorie</button></a>
{% endblock %}
