{% extends 'base.html.twig' %}

{% block title %}PanierPlace{% endblock %}

{% block body %}
    <h1>Détails événements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>évenement</th>
                <td>{{ panier_place.evenement.getNom() }}</td>
            </tr>
            <tr>
                <th>Date Achat</th>
                <td>{{ panier_place.dateAchat ? panier_place.dateAchat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ panier_place.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('panier_place_index') }}"><button class="btn btn-primary">retour en arrière</button></a>

    <a href="{{ path('panier_place_edit', {'id': panier_place.id}) }}"><button class="btn btn-primary">modifier</button></a>

    {{ include('panier_place/_delete_form.html.twig') }}
{% endblock %}
