<table class="table table-bordered">
    <thead>
    <tr>
        <th>Nom de l'évènement</th>
        <th>nombre de place</th>
        <th>prix</th>
        <th>prix total</th>
        <th>supprimer</th>
    </tr>
    </thead>
    <tbody>
    {% set montant_total = 0 %}
    {% for ligne in panier %}
        {% set montant_total = montant_total + ligne.quantite * ligne.evenement.prix %}
        <tr>
            <td>{{ ligne.evenement.nom }}</td>
            <td>
                <form action="{{ path('panier.edit', {id: ligne.evenement.id}) }}" method="POST">
                    <input type="hidden" name="_token" value="{{ csrf_token('editpanier' ~ ligne.evenement.id) }}">
                    <input type="text" name="quantite" value="{{ ligne.quantite }}" class="form-control">
                    <input type="submit" value="Modifier" class="btn btn-primary">
                </form>
            </td>
            <td>{{ ligne.evenement.prix }}</td>
            <td>{{ ligne.quantite * ligne.evenement.prix }}</td>
            <td>
                <form method="post" action="{{ path('panier.delete', {id: ligne.evenement.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('deletepanier' ~ ligne.evenement.id) }}">
                    <input type="submit" class="btn btn-danger" value="Supprimer">
                </form>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <th colspan="3">Total</th>
        <th>{{ montant_total }}</th>
    </tr>
    </tbody>
</table>