<table class="table table-bordered">
    <caption>Panier</caption>
    <thead>
    <tr>
        <th>Nom de l'évènement</th>
        <th>nombre de place</th>
        <th>prix</th>
        <th>prix total</th>
        <th>supprimer</th>
    </tr>
    </thead>
    <tbody>
    {% for ligne in panier %}
        <tr>
            <td>{{ ligne.evenement.nom }}</td>
            <td>
                <form action="{{ path('panier_place_edit', {id: ligne.evenement.id}) }}" method="POST">
                    <input type="text" name="quantite" value="{{ ligne.quantite }}" class="form-control">
                    <input type="submit" value="Modifier" class="btn btn-primary">
                </form>
            </td>
            <td>{{ ligne.evenement.prix }}</td>
            <td>{{ ligne.quantite * ligne.evenement.prix }}</td>
            <td>
                <a href="{{ path('panier_place_delete', {id: ligne.evenement.id}) }}"><button class="btn btn-danger">Supprimer</button></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>