{% extends 'base.html.twig' %}

{% block title %}Evenement index{% endblock %}

{% block body %}
    <h1>évenements</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Disponible</th>
                <th>NombrePlaces</th>
                <th>Date</th>
                <th>Prix</th>
                <th>Détails</th>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_ADMIN') %} (role : Admin )
                        <th>Edit</th>
                    {% endif %}
                    {% if is_granted('ROLE_CLIENT') %} (role : client)
                        <th>Achat</th>
                    {% endif %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.photo }}</td>
                <td>{{ evenement.disponible ? 'Yes' : 'No' }}</td>
                <td>{{ evenement.nombrePlaces }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.prix }}</td>
                <td>
                    <a href="{{ path('evenement_show', {'id': evenement.id}) }}"><button class="btn btn-secondary">Détails</button></a>
                </td>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if is_granted('ROLE_ADMIN') %} (role : Admin )
                    <td>
                        <a href="{{ path('evenement_edit', {'id': evenement.id}) }}"><button class="btn btn-secondary">Modifier</button></a>
                    </td>
                    {% endif %}
                    {% if is_granted('ROLE_CLIENT') %} (role : client)
                    <td>
                        <a href="{{ path('panier_place_add', {'id': evenement.id}) }}"><button class="btn btn-primary">Achat</button></a>
                    </td>
                    {% endif %}
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if is_granted('ROLE_ADMIN') %} (role : Admin )
            <a href="{{ path('evenement_new') }}"><button class="btn btn-primary">Nouvel évenement</button></a>
        {% endif %}
    {% endif %}
{% endblock %}
