{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block body %}
    <h1>Commande index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Etat</th>
                <th>Montant</th>
                <th>Voir</th>
            </tr>
        </thead>
        <tbody>
            {% for commande in commandes %}
                <tr>
                    <td>{{ commande.id }}</td>
                    <td>{{ commande.date|date('d/m/Y') }}</td>
                    <td>{{ commande.etat.nom }}</td>
                    <td>{{ commande.montantTotal }}</td>
                    <td>
                        <a href="{{ path('commande_show', {'id': commande.id}) }}">
                            <button class="btn btn-primary">Détails</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune commande</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
