{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <p>Commande numéro {{ commande.id }} effectuée le {{ commande.date|date('d/m/Y') }}.</p>

    <h2>Contenu</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom de l'évènement</th>
                <th>Nombre de place</th>
                <th>Prix</th>
                <th>Prix total</th>
            </tr>
        </thead>
        <tbody>
            {% for ligne in commande.ligneCommandes %}
                <tr>
                    <td>{{ ligne.evenement.nom }}</td>
                    <td>{{ ligne.quantite }}</td>
                    <td>{{ ligne.prix }}</td>
                    <td>{{ ligne.quantite * ligne.prix }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="3">Total</th>
                <th>{{ commande.montantTotal }}</th>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commande_index') }}">
        <button class="btn btn-primary">Retour à la liste de vos commandes</button>
    </a>
{% endblock %}
