{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <p>Commande numéro {{ commande.id }} effectuée le {{ commande.date|date('d/m/Y') }}{% if is_granted("ROLE_ADMIN") %} par {{ commande.user.username }}{% endif %}.</p>

    <h2>Contenu</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nom de l'évènement</th>
                <th>Nombre de place</th>
                <th>Prix</th>
                <th>Prix total</th>
            </tr>
        </thead>
        <tbody>
            {% for ligne in commande.ligneCommandes %}
                <tr>
                    <td>{{ ligne.evenement.nom }}</td>
                    <td>{{ ligne.quantite }}</td>
                    <td>{{ ligne.prix }}</td>
                    <td>{{ ligne.quantite * ligne.prix }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="3">Total</th>
                <th>{{ commande.montantTotal }}</th>
            </tr>
        </tbody>
    </table>
    {% if is_granted("ROLE_ADMIN") %}
        <div>
            Adresse d'expedition:
            {{ commande.user.nom }}<br>
            {{ commande.user.adresse }}<br>
            {{ commande.user.codePostal ~ ' ' ~ commande.user.ville }}
        </div>
        <a class="btn btn-primary" href="#">Marquer comme expédiée</a>
    {% endif %}
    <a class="btn btn-primary" href="{{ path('commande_index') }}">Retour à la liste des commandes</a>
{% endblock %}
