{% extends "base.html.twig" %}

{% block body %}

    <h1> Projet 2 web : site de vente Espace client </h1>
    <form action="{{ path('front_office_filtre') }}" method="GET">
        <select class="form-control custom-select" name="categorie">
        <option value="0">Séléctionner une catégorie</option>
            {% for categorie in categories %}
                <option value="{{ categorie.id }}" {% if selected == categorie.id %}selected{% endif %}>{{ categorie.libelle }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Modifier" class="btn btn-primary">
    </form>
        <div class="col-7">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>nom</th>
                        <th>description</th>
                        <th>places restantes</th>
                        <th>type</th>
                        <th>prix</th>
                        <th>photo</th>
                        <th>Achat</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in evenements %}
                        <tr>
                            <td>{{ event.nom }}</td>
                            <td>{{ event.description }}</td>
                            <td>{{ event.nombrePlaces }}</td>
                            <td>{% if event.categorie != null %}{{ event.categorie.libelle }}{% endif %}</td>
                            <td>{{ event.prix }}</td>
                            <td>{{ event.photo }}</td>
                            <td>
                                <form action="{{ path('panier.add', {id: event.id}) }}" method="post">
                                    <input type="hidden" name="_token" value="{{ csrf_token('addpanier' ~ event.id) }}">
                                    <input type="submit" class="btn btn-primary" value="Ajouter au panier">
                                </form>
                            </td>
                        </tr>
                    {% else %}
                    <td colspan="7">Oups, Aucun évenement n'as été trouvé</td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}