{% extends "base.html.twig" %}

{% block body %}

    <h1> Projet 2 web : site de vente Espace client </h1>

    <div class="row">
        <div class="col-7">
            les évènements
            <table class="table table-bordered">
                <caption>Evènements</caption>
                <thead>
                    <tr>
                        <th>nom</th>
                        <th>description</th>
                        <th>places restantes</th>
                        <th>type</th>
                        <th>prix</th>
                        <th>photo</th>
                        <th>Ajouter</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td>{{ event.nom }}</td>
                            <td>{{ event.description }}</td>
                            <td> ?/{{ event.nombrePlaces }}</td>
                            <td>{{ event.categorie.libelle }}</td>
                            <td>{{ event.prix }}</td>
                            <td>{{ event.photo }}</td>
                            <td><a href="{{ path('panier.add', {id: event.id}) }}">
                                <button class="btn btn-primary">Ajouter au panier</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            les produits + liens
        </div>
    </div>

{% endblock %}