<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Billeterie online france<span style="color:#26ff1e;">  Menu Client </span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <!--Affichage des évenements de l'utilisateur-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="DropdownClient" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Evenements
                </a>
                <div class="dropdown-menu" aria-labelledby="DropdownStage">
                    <a class="dropdown-item" href="{{ path('front_office') }}">Montrer les évenements</a>
                    <a class="dropdown-item" href="{{ path('front_office_filtre') }}">Filtrer par catégorie d'évenements</a>
                </div>
            </li>

            <!--Détails du compte : commandes et coordonnées-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="DropdownComptes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mon compte
                </a>
                <div class="dropdown-menu" aria-labelledby="DropdownComptes">
                    <a class="dropdown-item" href="{{ path('commande_index') }}">Mes commandes</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('user_show_self') }}">Mon profil</a>
                </div>
            </li>
        </ul>

        {% if app.session.flashbag.get('display_panier') is not empty %}
            <script>
                window.addEventListener("DOMContentLoaded", function(){
                    $('.dropdown-toggle').dropdown('toggle');
                });
            </script>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Panier
                    {% set panier = app.user.panierPlaces %}
                    {% if panier is defined and panier is not empty %}
                    ( {{panier|length}} article{% if panier|length > 1 %}s{% endif %})
                    {% endif %}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    {% if panier is empty %}
                        <p class="dropdown-header">Panier vide</p>
                    {% else %}
                        {{ include("panier_place/tableau_panier.html.twig") }}
                        <a href="{{ path("panier.index") }}">
                            <button class="btn btn-primary">Voir le panier</button>
                        </a>
                        <form action="{{ path("commande_new") }}" method="post">
                            <input type="hidden" name="_token" value="{{ csrf_token('validpanier') }}">
                            <input type="submit" class="btn btn-success" value="Valider la commande">
                        </form>
                    {% endif %}
                </div>
            </li>
                <!-- Authentication Links -->
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <span class="navbar-text">
                            Bonjour {{ app.user.username }}
                            {% if is_granted('ROLE_ADMIN') %} (role : Admin )
                            {% elseif is_granted('ROLE_CLIENT') %} (role : Client ) {% endif %}
                        </span>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-warning" type="button" href="{{path('logout') }}">
                            Se déconnecter
                        </a>
                    </li>

                {% else %}
                    <li class="nav-item">
                        <a class="btn btn-success" type="button" href="{{path('login') }}">
                            Se connecter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-success" type="button" href="{#{path('changePassword') }#}">
                            mot de passe oublié
                        </a>
                    </li>
                {% endif %}
            </div>
        </ul>
    </div>
</nav>