{% extends 'base.html.twig' %}

{% block title %}Liste des évenements{% endblock %}

{% block body %}
    <h1>Evenements</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Photo</th>
                <th>Disponible</th>
                <th>Nombre de places</th>
                <th>Date</th>
                <th>Prix</th>
                <th>Détails</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for evenement in evenements %}
            <tr>
                <td>{{ evenement.id }}</td>
                <td>{{ evenement.nom }}</td>
                <td>{{ evenement.description }}</td>
                <td>{{ evenement.photo }}</td>
                <td>{{ evenement.disponible ? 'Yes' : 'No' }}</td>
                <td>{{ evenement.nombrePlaces }}</td>
                <td>{{ evenement.date ? evenement.date|date('Y-m-d') : '' }}</td>
                <td>{{ evenement.prix }}</td>
                <td>
                    <a href="{{ path('evenement_show', {'id': evenement.id}) }}"><button class="btn btn-secondary">Détails</button></a>
                </td>
                <td>
                    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}"><button class="btn btn-secondary">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun évenement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('evenement_new') }}"><button class="btn btn-primary">Nouvel évenement</button></a>
{% endblock %}
