{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if is_granted('ROLE_ADMIN') %} (role : Admin )
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            {% endif %}
        {% endif %}
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ user.ville }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ user.codePostal }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('user_index') }}" class="btn btn-primary">Retour à la liste</a>
        {% endif %}
    {% endif %}

    {% if allow_edit %}
        <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
        {{ include('user/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
